html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
  }

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
    background: #f0fff5;
}
nav{
    background: #00691e;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a.button:hover{
    background: #004815;
    transition: .5s;
}

.image_box{
    width: 100%;
}
.small_img{
    width: 300px;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
}
.rect{
    display: flex;
    flex-direction: row;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Space elements evenly along the row */
    height: 250px;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    margin-top: 40px;
    background-color: #97a19a;
}

.pow_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 90px;
}

.pow_title{
    color: white;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;    
}

.pow_sum{
    color: white;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
}

.comment-box{
    width: 50%;
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 25%;
    margin-top: 80px;
}

.comment-box.p{
    text-align: left;
    font-size: 28px;
    color: #777;
}

.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    outline: none;
    font-size: 18px;
    border: 1px solid #ddd;
    color: #777;
}

.comment-from button{
    margin: 10px 0;
    border: none;
    background-color: #d0d0d0;
    padding: 10px;
    font-size: 18px;
    border-radius: 3px;
    color: #444;
}